.pulse {
    border: 4px solid lightblue;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    -webkit-animation-name: pulsate;
    opacity: 0.0;
    z-index: -1;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1); 
        opacity: 0.0;
        filter:alpha(opacity=0);
    }
    5% {
        /*opacity: 0.1;*/
        /*filter:alpha(opacity=40);*/
    }
    50% {
        opacity: 1.0;
        filter:alpha(opacity=100);
    }
    100% {
        -webkit-transform: scale(1.2, 1.2); 
        opacity: 0.0;
        filter:alpha(opacity=0);
    }
}