.timeline * {
    /*color: inherit;*/
    
}

.timeline {
    position: relative;
    color: #000;
    display: table;
    width: 100%;
}

.timeline-block .timeline-line {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 2px;
    left: 18px;
    transition-property: height, width, background;
}

.timeline-block:last-of-type > .timeline-line {
    opacity: 0;
    display: none;
}
.timeline-block {
    position: relative;
}
.timeline-block.tl-orient-vertical {
    padding-bottom: 4em;
}

.timeline-block[data-tl-orient="horizontal"] {
    /*display: table-cell;*/
    /*width: 33.3%;*/
    padding-right: 1em;
}

.timeline-block:last-of-type {
    padding-bottom: 0px;
    padding-right: 0px;
}

.timeline-content {
    border-radius: 0.25em;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    background: white;
    position: relative;
    box-sizing: border-box;
}

.timeline-block[data-tl-orient="horizontal"] > .timeline-content {
    margin: 0px;
}

.timeline-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.timeline-block[data-tl-orient="horizontal"] > .timeline-content > .timeline-arrow {
    top: -14px;
    left: 16px;
}

.timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.timeline-content > h2 {
    margin-top: 0px;
}
.timeline-content > p {
    margin-bottom: 10px;
}

.timeline-content iframe {
    width:100%;
    min-height: 300px;
}

.timeline-block > .timeline-date {
    /*float: left;*/
    padding: .8em 0;
    opacity: 0.7;
    position: relative;
}
/*.timeline-content .timeline-read-more {
    float: right;
    padding: .8em 1em;
    color: white;
}*/
[data-tl-orient="horizontal"] > .timeline-img {
    display: block;
    /*margin: 0 auto;*/
    margin-left: 0px !important;
    position: relative;
    margin-bottom: 2em;
}

.timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 4px solid white;
    /*box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 3px 0 4px rgba(0, 0, 0, 0.2);*/
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
}

.timeline-content img {
    width: 100%;
}

/*@media only screen and (min-width: 1170px) {*/

    .tl-large > .timeline-block.tl-orient-vertical > .timeline-line {
        left: 50%;
        margin-left: -1px;
        top: 60px;
    }

    .tl-large > .timeline-block.tl-orient-vertical > .timeline-content {
        margin-left: 0px;
        padding: 1.6em;
        width: 45%;
    }

    .tl-large > .timeline-block.tl-orient-vertical.tl-even > .timeline-content {
        /*float: right;*/
        margin-left: 55%;
   }
    .tl-large > .timeline-block.tl-orient-vertical.tl-even > .timeline-content > .timeline-arrow {
        top: 24px;
        left: auto;
        right: 100%;
    }

    .tl-large > .timeline-block.tl-orient-vertical > .timeline-content > .timeline-arrow {
        top: 24px;
        left: 100%;
    }
    .tl-large > .timeline-block.tl-orient-vertical > .timeline-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 1rem;
    }
    .tl-large > .timeline-block.tl-orient-vertical.tl-even > .timeline-date {
        left: auto !important;
        right: 122% !important;
        text-align: right !important;
    }
    
    .tl-large > .timeline-block > .timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    }
    .tl-large > .timeline-block[data-tl-orient="horizontal"] > .timeline-img {
        left: 0%;
    }
/*}*/

/*.is-hidden {
    visibility: hidden;
}*/
.bounce-in {
    visibility: visible;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

@-moz-keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        /*-webkit-transform: scale(1);*/
    }
}

@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        /*-webkit-transform: scale(1);*/
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}